.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80vw;
    height: 100vh;

    h1 {
      text-align: center;
      width: 100%;
      margin-bottom: 3rem;
      color: #1976d2;
    }

    .container-button {
      margin-bottom: 1rem;

      .disabledButton {
        cursor: not-allowed;
        color: rgb(229, 229, 229) !important;
        pointer-events: none;
        border-color: rgb(229, 229, 229) !important;
      }
    }

    .TextTableHead {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
