.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 80vw;
    height: 100vh;

    h1 {
      text-align: center;
      width: 100%;
      padding: 3rem 0rem;
      color: #1976d2;

      @media screen and (max-width: 500px) {
        padding: 2rem 0rem;
      }
    }

    .container-button {
      display: flex;
      justify-content: right;
      width: 100%;
      margin-bottom: 1rem;
      @media screen and (max-width: 500px) {
        margin-bottom: 1.5rem;
        justify-content: center;
      }

      .disabledButton {
        cursor: not-allowed;
        color: rgb(229, 229, 229) !important;
        pointer-events: none;
        border-color: rgb(229, 229, 229) !important;
      }
    }

    .TextTableHead {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
